@use '@styles/colors.scss' as color;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    width: 100%;
    text-align: center;
  }

  .snippet {
    background-color: color.$white;
    padding: 10px;
    border-radius: 8px;
    margin: 16px 0 8px;

    .code {
      background-color: inherit;
      color: color.$code-color;
      width: 100%;
      min-height: 200px;
      padding: 10px;
    }

    .button {
      width: 100%;
    }
  }
}
