@use '@styles/colors.scss' as color;

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  .snippet {
    margin-top: 16px;
  }
}

.comment {
  background: color.$white;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 8px;

  h2 {
    margin-left: 35px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .buttons {
    display: flex;
    flex-direction: column;

    button {
      color: color.$primary-color;
    }
  }
}
